@import 'https://fonts.googleapis.com/css2? family = Lato & display = swap';
 

/* família de fontes: 'Lato', sans-serif; */

body { overflow-x: hidden; background-color: white;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}
/*scrollbar*/
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 6px;
}


.textobanner {
    margin-left: 5em;
    margin-top: 1em;
}

.banner{
    position: relative;
    min-height: 100vh;
    background: url(../img/banner.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h3 {
    font-size: 2.2em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
    text-shadow: black 0.1em 0.1em 2px;
}


.banner h2 .nomeempresa {
    text-align: center;
    position: static;
    color: white;
    /* color: transparent; */
    /* font-weight: 900; */
    font-size: 4em;
    /* -webkit-text-stroke: 4px white; */
    text-shadow: black 0.1em 0.1em 0.1em;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

.btn{
    position: relative;
    background: black;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 14px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    height: 5em;
    background-color: rgba(247, 134, 32, 0.6);
}

header.sticky{
    background: rgba(277, 277, 277, 0.7);
    padding: 5px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header.sticky .logo{
    color: #111;
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

header.sticky ul li a{
    color: #111;
}


/*divisória*/
.divisória {
    height: 40px;
    background-color: #000200;
    position: relative;
    margin-top: 28em;
}

IMG.triângulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Apresentação */


.titulo h2{
    margin-bottom: 18px;
    width: 100%;
    position: relative;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 1.7px black;
    text-transform: uppercase;
    text-align: center;
}

.apresentação{
    font-family: 'Exo', sans-serif;
    color: #fff;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,.9)), url(../img/fundo.png);
    background-size: auto;
    margin-top: -2em;
}

.imgapresentação{
    background-image: url(../img/apresentação.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1px;
    height: 100px;
}

.rd_tabsapresentação:checked ~ label{
    background-image: url(../img/apresentação\ hover.png);
    margin-top: -10px;
}


.imgmissão{
    background-image: url(../img/missão.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1px;
    height: 100px;
}


.rd_tabsmissão:checked ~ label{
    background-image: url(../img/missão\ hover.png);
    margin-top: -10px;
}

.imgvisão{
    background-image: url(../img/visão.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1px;
    height: 100px;
}


.rd_tabsvisão:checked ~ label{
    background-image: url(../img/visão\ hover.png);
    margin-top: -10px;
}

.imgvalores{
    background-image: url(../img/valores.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1px;
    height: 100px;
}


.rd_tabsvalores:checked ~ label{
    background-image: url(../img/valores\ hover.png);
    margin-top: -10px;
}


.imgtext p{
    margin-top: 77px;
    color: orange;
} 

.nav_tabs{
    width: 600px;
    height: 460px;
    margin: auto;
    position: relative;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li {
    float: left;
    margin-top: 0px !important;
}

.nav_tabs label{
    width: 150px;
    padding: 9px;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.rd_tabs{
    display: none;
}

.contentt{
    border-top: 5px solid #ff9f0c;
    background-color: transparent;
    display: none;
    position: absolute;
    height: 320px;
    width: 600px;
    left: 0px;
    margin-top: 22px;
}

.contentt article{
    padding: 10px;
    text-align: center;
    color: black;
}

.rd_tabs:checked ~ .contentt{
    display: block;
}


/*nossos serviços */

.divisória2{
    margin-top: -2em;
    height: 4em;
    margin-bottom: -9em;
    background-color: #000200;
}

.serviços {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background:  #000200;
    margin-top: -33px;
    
}

.espaço {
    position: relative;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.espaço .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.espaço .box:hover{
    background:  #f78620;
}

.espaço .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.content h2{
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 1em;
    -webkit-text-stroke: 0.4px #fff;
    text-transform: uppercase;
}

.content p{
    width: 100%;
    position: static;
    color: transparent;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}


.nossosserviços h2 {
    width: 100%;
    background-color: #000200;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 1.3px white;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 2em;
    text-align: center;
    margin-top: -117px;
}

.nossosserviços{
    margin-top: 8em !important;
}

/*Nossos portifólios*/

.p1 a{
    position: relative;
    display: inline-block;
    padding: 6px 18px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, orange, orangered);
    

 }

.nossosportifólios h2 {
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 1.3px white;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-top: 0em;
}

.nossosportifólios p {
    color: orange;
    font-size: 20px;
    text-align: center;
    margin-top: 6px;
}

.nossoportifólio{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
   
}
.port{
    background-color: #000200;
    height: 20em;
}
.portifólios{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
}

.portifólios .card{
    position: relative;
    width: 280px;
    height: 180px;
    margin: 20px;
}

.portifólios .card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.portifólios .card .face.face1{
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.portifólios .card .face.face1 img{
    max-width: 100px;
}

.portifólios .card .face.face1 h3{
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.portifólios .card:hover .face.face1{
    transform: translateY(-100%) rotateX(90deg);
    background: orange;
}


.portifólios .card .face.face2{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}


.portifólios .card:hover .face.face2{
    transform: translateY(0%) rotateX(0);
}

.p1 p{
    font-size: 14px;
    color: black;
    margin-top: 25px;
    margin-bottom: -20px;
}

.divisória3 {
    height: 40px;
    background-color: #000200;
    position: relative;
}

/*nossos numeros */

.nossosnumerosbackground{
    background: url(../img/pic\ equipe2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nossosnumeross h2 {
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 1.7px white;
    text-transform: uppercase;
    margin-bottom: -3em;
    font-size: 2em;
    text-align: center;
}

.nossosnumeros{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.numeros{ 
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.numeros .cartinha{
    position: relative;
    width: 250px;
    padding: 20px;
    background: linear-gradient(0deg, rgba(27,27,27,0.5),rgba(34,34,34,0.5), rgba(27,27,27,0.5));
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 240px;
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    margin-right: 1em;
    margin-left: 1em;
}

.numeros .cartinha:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.numeros .cartinha:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: rgba(34,34,34,0.5);
    z-index: 1000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.percent .number{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: rgba(255,255,255,0.7);
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s; 
}

.cartinha:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}

.percent .number h2 .porcento{
    font-size: 24px;
    color: rgba(255,255,255,0.7);
    transition: 0.5s;
}

.cartinha:hover .percent .number h2 .porcento{
    color: #fff;
}

.textcartas{
    position: relative;
    color: rgba(255,255,255,0.7);
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.cartinha:hover .textcartas{
    color: #fff
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.cartinha:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90)/100);
    stroke: #00ff43;
}

.cartinha:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 85)/100);
    stroke: orange;
}

.cartinha:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60)/100);
    stroke: orangered;
}


/*nossos membros*/

.nossosmembros h2 {
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 1.7px black;
    text-transform: uppercase;
    margin-bottom: -15px;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}


.membros {
    font-family: 'Exo', sans-serif;
    margin-top: -3em;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,.9)), url(../img/fundo.png);
    background-size: auto;
    background-repeat: repeat-x;
}

.testimonial{
    text-align: center; 
    padding: 30px 30px 50px;
    margin: 0 25px 100px;
    position: relative;
}

.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: #f28a0b;
    margin-bottom: 20px;
    opacity: 0.6;
}

.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}


.testimonial .pic img{
    width: 90px;
    height: 90px;
}
    
.testimonial .title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.testimonial .post{
    display: block;
    font-size: 15px;
    color: orange;
}

.pic img{
    width: 150px !important;
    height: 150px !important;
}

.testimonial-content p{
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.pic img{
    border-radius: 20px;
}

.deion{
    margin-bottom: 8em;
}



/*Formulario*/

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000200;
    
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .contate h2{
    margin-bottom: 18px;
    width: 100%;
    position: relative;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: - 0.5em;
}

.informações{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: 30px;
    margin-top: 30px;
}

.informações .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.informações .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.informações .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.informações .contactinfo .box .icon:hover{
    background: orange;
    text-decoration: none;
}

.informações .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.informações .contactinfo .box .text h3{
    font-weight: 500;
    color: orange;
}

.localização{
    display: inline-block;
    width: 0%;
}

.contactform{
    width: 40%;
    padding: 20px;
    height: 45em;
    background: #333;
    display: flex;
    justify-content: center;
}


.contactform h2{
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 0.4px white;
    text-transform: uppercase;
    margin-top: 10em;
    text-align: center;
}


.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input, .contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    resize: none;
    background-color: #333;
}


.contactform .inputbox .spann{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: white;
}

.contactform .inputbox input:focus ~ .spann,
.contactform .inputbox input:valid ~ .spann,
.contactform .inputbox textarea:focus ~ .spann,
.contactform .inputbox textarea:valid ~ .spann
{
    color: #e91e;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #e91e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}



@media(max-width:480px) {
    body { overflow-x: hidden; }


    .divisória {
        margin-top: 10em;
    }

    .textobanner {
        margin-left: -2em;
        margin-top: -8em;
    }

    .banner h2 .nomeempresa {
        font-size: 3em;
        /*-webkit-text-stroke: 3px white; */
    }

    .banner h3{
        font-size: 1.6em !important;
    }

    /*Apresentação*/

    
    .titulo h2 {
        margin-bottom: 2em;
        
    }

    .nav_tabs {
        width: 300px;
        height: 40pc;
    }

    .nav_tabs label {
        width: 75px;
    }

    .contentt {
        width: auto;
    }

    .contentt{
        margin-top: 21px;
        width: 300px;
    }

    .sobrenós{
        margin-bottom: -14em;
    }
    
    .nav_tabs ul li {
        margin-top: -40px !important;
    }

    .imgapresentação {
        background-size: 62px;
    }

    .imgmissão{
        background-size: 62px;
    } 
    
    .imgvisão {
        background-size: 62px;
    } 
    
    .imgvalores {
        background-size: 62px;
    } 
    
    .imgtext p {
        margin-top: 60px;
    }


    /*nossos serviços*/
    .nossosserviços{
        margin-top: 9em !important;
    }

    /*portifólios*/

    

    .portifólios {
        display: inline-block;
    }

    .port{
        height: 44em;
    }

    .nossosportifólios h2{
        font-size: 1.7em;
    }


    /*membros*/

    .nossosmembros h2{
        font-size: 1.6em;
    }
    .testimonial{
        margin: 0 40px 100px;
    }

    /*contato*/
    .informações .contactinfo {
        width: 100%;
    }

    .contact{
        padding: 50px;
    }

    .contate{
        flex-direction: column;
    }

    .informações{
        display: block;
    }

    .contactform{
        width: 100%;
        align-items: center;
    }

    .imagemlocalização {
        width: 246px !important;
        height: 196px;
    }

    .localização{
        margin-top: -26em;
    }

    .contactform h2{
        margin-top: 6em;
    }

    .contactform{
        height: 40em;
    }

    
}

@media(min-width:482px) and (max-width:660px){
    
    .portifólios {
        margin-top: 0em;
        display: inline-block;
    }

    .port {
        height: 43em;
    }

    /*membros*/
    .demo{ 
        margin-top: 5em;
    }
    .nossosmembros h2{
        font-size: 1.6em;
    }
    .testimonial{
        margin: 0 40px 100px;
    }
    
    /*contato*/
    .informações .contactinfo {
        width: 100%;
    }

    .contact{
        padding: 50px;
    }
    
    .contate{
        flex-direction: column;
    }
    
    .informações{
        display: block;
    }
    
    .contactform{
        width: 100%;
        align-items: center;
    }
    
    .imagemlocalização{
        width: 222px !important;
    }
    
    .localização{
        margin-top: -26em;
    }
    
    .contactform h2{
        margin-top: 6em;
    }
    
    .contactform{
        height: 40em;
    }
}


@media(min-width:661px) and (max-width:1030px){


    /*portifólios*/

    .nossoportifólio{
        margin-bottom: -10em;
    }

    .nossosportifólios h2{
        margin-bottom: -1em;
    }

    .portifólios {
        margin-top: 1em;
        margin-bottom: 4em;
    }

    .portifólios .card {
        width: 208px;
        height: 166px;
        margin: 6px;
    }

    .nossosportifólios p {
    
        margin-top: 37px;
    }
    /*nossosserviços*/

    .nossosserviços {
        margin-top: 6em !important;
    }

    /* contato */ 

    .informações .contactinfo {
        width: 100%;
    }

    .contact{
        padding: 50px;
    }

    .contate{
        flex-direction: column;
    }

    .informações{
        display: block;
    }

    .contactform{
        width: 100%;
        align-items: center;
    }

    .contactform{
        width: 100%;
        align-items: center;
        height: 50em;
    }

    .imagemlocalização {
        width: 365px !important;
        margin-top: 30em;
    }

    .localização {
        margin-top: -56em;
    }

    .contactform h2 {
        margin-top: 9em;
    }

}



@media(min-width:1031px) and (max-width:1200px){


    .divisória{
        margin-top: 21em;
    }

    .divisória2 {
        margin-top: 2em;
    }

    /*portifólios*/

    .nossoportifólio{
        margin-bottom: -10em;
    }

    .portifólios{
        margin-top: 3em;
    }

    .portifólios .card {
        width: 232px;
        height: 176px;
        margin: 11px;
    }

    /*nossosserviços*/

    .nossosserviços {
        margin-top: 2em !important;
    }

    /*contato*/

    .informações .contactinfo {
        width: 100%;
    }

    .contact{
        padding: 50px;
    }

    .contate{
        flex-direction: column;
    }

    .informações{
        display: block;
    }

    .contactform{
        width: 100%;
        align-items: center;
    }

    .contactform{
        width: 100%;
        align-items: center;
        height: 80em;
    }

    .imagemlocalização {
        width: 365px !important;
    }

    .localização {
        margin-top: -56em;
    }

    .contactform h2 {
        margin-top: -5em;
    }

}

@media(max-width: 991px){
    
    header, header.sticky{
        padding: 5px 50px;
    }

    .textobanner {
        margin-left: -2em;
        margin-top: -2em;
    }

    .menu {
        position: fixed;
        top: 79px;
        left: -100%;
        display: block;
        padding: 1em 50px;
        text-align: center;
        width: 100%;
        height: 45vh;
        background: rgba(277, 277, 277, 0.9);
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active{
        left: 0;
    }

    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 5px;
        border-bottom: solid 1px orange;
    }

    .toggle{
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active{
        background: url(../img/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    header.sticky .toggle{
        filter: invert(1);
    }

    .banner{
        padding: 150px 50px 100px;
    }

    .banner h2{
        font-size: 1.5em;  
    }

    .banner h3{
        font-size: 0.7em;
    }

    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    /*nossosnumeros*/
        
    .nossosnumeross h2 {
        margin-bottom: 0em;
    }

    
    
    .numeros .cartinha{
        display: flex;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .textcartas {
        padding: 1em;
    }

    .numeros .cartinha {
        position: relative;
        width: 334px;
        height: 191px;
    }



/*
    .heading h2{
        font-size: 24px;
    }

    .contentBx h3{
        font-size: 20px;
    }

    .content{
        flex-direction: column;
    }

    .w50{
        margin-bottom: 20px;
    }
*/

}


/*loading*/
