@import 'https://fonts.googleapis.com/css2? family = Lato & display = swap';

/* família de fontes: 'Lato', sans-serif; */

*{
    
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

body { overflow-x: hidden; }

section {
    position: static;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #000200;
    display: flex;
    justify-content: center;
    align-items: center;

}

section h1{
    position: static;
    color: transparent;
    font-weight: 900;
    font-size: 12em;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
}

section .star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite,
                backgroundmove 16s linear infinite;
}

section .star.star1{
    animation-delay: 0s;
    background: url(../stars/star1.png);
}

section .star.star1{
    animation-delay: -1s;
    background: url(../stars/star1.png);
}

section .star.star2{
    animation-delay: -2s;
    background: url(../stars/star2.png);
}

section .star.star3{
    animation-delay: -3s;
    background: url(../stars/star3.png);
}

section .star.star4{
    animation-delay: -4s;
    background: url(../stars/star4.png);
}

section .star.star5{
    animation-delay: -5s;
    background: url(../stars/star5.png);
}

section .star.star6{
    animation-delay: -6s;
    background: url(../stars/star6.png);
}

section .star.star7{
    animation-delay: -7s;
    background: url(../stars/star7.png);
}

section .star.star8{
    animation-delay: -8s;
    background: url(../stars/star8.png);
}
@keyframes animate
{
    0%,20%,40%,60%,80%,100%
    {
        opacity: 0;
    }

    10%,30%,50%,70%
    {
        opacity: 1;
    }
}

@keyframes backgroundmove
{
    0%
    {
        transform: scale(1);  
    }
    100%
    {
        transform: scale(2);
    }
}
.logo {
    width: 100%;
    height: 56px;
    font-size: 0px;
    margin-top: 16px;
    margin-bottom: 27px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho {
    width: 100%;
    float: left;
    background-color: #000200
}

.menuu{
    width: 15%;
    float: right;
}

.menu {
    margin-top: 5px;
    width: 100%;
    height: 48px;
    background-color: #000200;
    font-family: 'Lato', sans-serif, Helvetica, sans-serif;
}

.menu ul {
    list-style: none;
    position: relative;
    

}

.menu ul li {
    width: 24.8%;
    float: left;
    border-left: orange solid 0.5px;
    
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 27px;
}

.menu ul ul {
    width: 100%;
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    position: relative;
    visibility: visible;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: #555;
}

.menu ul ul li{
    width: 100%;
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a{
    width: 100%;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 15px ;
    transition: all .3s linear;
    margin-top: 15px;
    margin-left: -15px;
}

span {
    float: right;
    width: 35px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    transition: all .3s linear;
    margin-top: 25px;
    margin-left: -15px;
}


span:before {
    content: '';
    width: 35px;
    height: 4px;
    bottom: -12px;
    margin-left: -18px;
    position: absolute;
    background-color: #fff;
    transition: all .3 linear;
}

span:after {
    content: '';
    width: 35px;
    height: 4px;
    top: -12px;
    margin-left: -18px;
    position: absolute;
    background-color: #fff;
    transition: all .3 linear;
}

#bt_menu:checked ~ * span{
    background-color: transparent;
}

#bt_menu:checked ~ * span:before{
    transition: all .3 linear;
    transform: translate(0px, -12px) rotate(-45deg)

}

#bt_menu:checked ~ * span:after{
    transition: all .3 linear;
    transform: translate(0px, 12px) rotate(45deg)
}

#bt_menu:checked ~ * label{
    transition: all .3 linear;
    border-radius: 50%;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

span{
    display: none;
}

.banner-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/banner.png) no-repeat fixed;
}


/* Apresentação */

.apresentação{
    width: 100%;
    height: 1500px;
    background-color: #000200;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.titulo h2{
    width: 100%;
    background-color: #000200;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 3em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
}

.sobrenós{
    background-color: #000200;
    margin-left: 20%;
    margin-bottom: 100em;
    font-family: 'Lato', sans-serif;
    margin-right: auto;

}

nav.nav_tabs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav_tabs{
    width: 80%;
    background-color: #fff;
    position: relative;
}

.nav_tabs ul{
    margin-top: 20px;
    list-style: none;
}

.nav_tabs ul li{
    float: left;
}

.nav_tabs label{
    padding: 8px;
    width: 150px;
    display: block;
    color: #fff; /*tab123*/
    cursor: pointer;
    text-align: center;
}

.label {
    transition: ease 5s;
}

.rd_tabs:checked ~ label{
    background-color: #f78620;
    margin-top: -6px;
}

.rd_tabs{
    display: none;
}

.contentt{
    border-top: 5px solid #f78620;
    display: none;
    position: absolute;
    height: 320px;
    width: 600px;
    left: 0;
}

.rd_tabs:checked ~ .contentt{
    display: block;
}

.contentt article{
    padding: 10px;
    color: #fff;
}


.nav_tabs label img{
    height: 50px;
}

/*nossos serviços */

.serviços {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background:  #000200;
}

.espaço {
    position: relative;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.espaço .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.espaço .box:hover{
    background:  #f78620;
}

.espaço .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.content h2{
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 1em;
    -webkit-text-stroke: 0.4px #fff;
    text-transform: uppercase;
}

.content p{
    width: 100%;
    position: static;
    color: transparent;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

.nossosserviços h2 {
    width: 100%;
    background-color: #000200;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 3em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
    margin-top: -500px;
}



@media(max-width:800px) {
    body { overflow-x: hidden; }
    .logo {
        width: 70%;
        float: left;
        margin-left: 5px;
    }
        
    IMG.displayed {
        margin-left: 6px;
    }
    .menu ul {
        width: 100%;
        list-style: none;
        position: relative;
    }

    label[for="bt_menu"]{
        display: block;
    }

    span{
        display: inline-block;
    }

    .menu ul li{
        width: 100%;
        float: none;
        border-left: none;
    }

    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
    
    /* CSS padrão da div */
    .menu {
        margin-top: 100px;
        margin-left: -100%;
        transition: linear 0.4s;
    }
    
    /* CSS quando o checkbox está marcado */
    #bt_menu:checked ~ * .menu {
        margin-left: 0;
        transition: linear 0.4s;
    }          

    section h1{
        font-weight: 900;
        font-size: 5em;
    }
    
    .texto p {
        width: 80%;
        font-size: 22px;
        margin-left: 59px;
        margin-top: 34px;
    }

    /*apresentando a coltech*/

    .apresentação{
        width: 100%;
        height: 1600px;
        margin-right: 0em;
        margin-bottom: 140px;
    }

    .contentt{
        width: 276px;
    }

    .sobrenós{
        margin-left: 0%;
    }

    .nav_tabs label{
        padding: 19px;
    }

    .titulo h2{
        font-size: 2em;
        -webkit-text-stroke: 0.3px #fff;
    }

    .nossosserviços h2 {
        font-size: 2em;
        -webkit-text-stroke: 0.3px #fff;
    }

    .nav_tabs label{
        width: 69px;
    }

    .nav_tabs label img{
        height: 40px !important;
    }

    .nav_tabs label p{
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        margin-top: 8px;
    }
}