@import 'https://fonts.googleapis.com/css2? family = Lato & display = swap';

/* família de fontes: 'Lato', sans-serif; */

*{
    
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

body { overflow-x: hidden; }
.estrelas{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.estrelinhas {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000200;
    display: flex;
    justify-content: center;
    align-items: center;

}

.estrelinhas h1{
    position: static;
    color: transparent;
    font-weight: 900;
    font-size: 8em;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
}

.estrelinhas .star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite,
                backgroundmove 16s linear infinite;
}

.estrelinhas .star.star1{
    animation-delay: 0s;
    background: url(../stars/star1.png);
}

.estrelinhas .star.star1{
    animation-delay: -1s;
    background: url(../stars/star1.png);
}

.estrelinhas .star.star2{
    animation-delay: -2s;
    background: url(../stars/star2.png);
}

.estrelinhas .star.star3{
    animation-delay: -3s;
    background: url(../stars/star3.png);
}

.estrelinhas .star.star4{
    animation-delay: -4s;
    background: url(../stars/star4.png);
}

.estrelinhas .star.star5{
    animation-delay: -5s;
    background: url(../stars/star5.png);
}

.estrelinhas .star.star6{
    animation-delay: -6s;
    background: url(../stars/star6.png);
}

.estrelinhas .star.star7{
    animation-delay: -7s;
    background: url(../stars/star7.png);
}

.estrelinhas .star.star8{
    animation-delay: -8s;
    background: url(../stars/star8.png);
}
@keyframes animate
{
    0%,20%,40%,60%,80%,100%
    {
        opacity: 0;
    }

    10%,30%,50%,70%
    {
        opacity: 1;
    }
}

@keyframes backgroundmove
{
    0%
    {
        transform: scale(1);  
    }
    100%
    {
        transform: scale(2);
    }
}
.logo {
    width: 100%;
    height: 56px;
    font-size: 0px;
    margin-top: 16px;
    margin-bottom: 27px;
    position: relative;
    margin-top: -98vh;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho {
    margin-top: 23px;
    width: 100%;
    float: left;
}

.menuu{
    width: 15%;
    float: right;
}

.menu {
    margin-top: 5px;
    width: 100%;
    height: 48px;
    font-family: 'Lato', sans-serif, Helvetica, sans-serif;
}

.menu ul {
    list-style: none;
    position: relative;
    

}

.menu ul li {
    width: 24.8%;
    float: left;
    border-left: orange solid 0.5px;
    
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
}


.menu a:hover{
    width: 100%;
    margin-top: -7px;
    float: none;
    text-align: center;
    color: orange;
}


label[for="bt_menu"] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 49px;
    height: 49px;
    border-radius: 15px ;
    transition: all .3s linear;
    margin-left: -9px;
    position: absolute;
    margin-top: -97vh;
}

.tracin {
    float: right;
    width: 28px;
    height: 3.8px;
    position: absolute;
    background-color: #fff;
    transition: all .3s linear;
    margin-top: 18px;
    margin-left: -13px;
}


.tracin:before {
    content: '';
    width: 28px;
    height: 3.8px;
    bottom: -12px;
    margin-left: -14px;
    position: absolute;
    background-color: #fff;
    transition: all .3 linear;
}

.tracin:after {
    content: '';
    width: 28px;
    height: 3.8px;
    top: -12px;
    margin-left: -14px;
    position: absolute;
    background-color: #fff;
    transition: all .3 linear;
}

#bt_menu:checked ~ * .tracin{
    background-color: transparent;
}

#bt_menu:checked ~ * .tracin:before{
    transition: all .3 linear;
    transform: translate(0px, -12px) rotate(-45deg)

}

#bt_menu:checked ~ * .tracin:after{
    transition: all .3 linear;
    transform: translate(0px, 12px) rotate(45deg)
}

#bt_menu:checked ~ * label{
    transition: all .3 linear;
    border-radius: 50%;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

.tracin{
    display: none;
}

/* Apresentação */


.titulo h2{
    margin-bottom: 18px;
    width: 100%;
    background-color: #000200;
    position: relative;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
    text-align: center;
}

.apresentação{
    background-color: #000200;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 30em;
}

.nav_tabs{
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li {
    float: left;
    margin-top: 0px !important;
}

.nav_tabs label{
    width: 150px;
    padding: 9px;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.rd_tabs:checked ~ label{
    background-color: #ff9f0c;
}

.rd_tabs{
    display: none;
}

.contentt{
    border-top: 5px solid #ff9f0c;
    background-color: transparent;
    display: none;
    position: absolute;
    height: 320px;
    width: 600px;
    left: 0px;
    margin-top: 10px;
}

.contentt article{
    padding: 10px;
    text-align: center;
}

.rd_tabs:checked ~ .contentt{
    display: block;
}


/*nossos serviços */

.serviços {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background:  #000200;
    margin-top: -33px;
    
}

.espaço {
    position: relative;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.espaço .box {
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.espaço .box:hover{
    background:  #f78620;
}

.espaço .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.content h2{
    width: 100%;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 1em;
    -webkit-text-stroke: 0.4px #fff;
    text-transform: uppercase;
}

.content p{
    width: 100%;
    position: static;
    color: transparent;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

.nossosserviços h2 {
    width: 100%;
    background-color: #000200;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 2em;
    text-align: center;
    margin-top: -160px;
}

.nossosserviços{
    margin-top: 8em !important;
}

/*nossos membros*/

.nossosmembros h2 {
    width: 100%;
    background-color: #000200;
    position: static;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
    margin-bottom: -15px;
    font-size: 2em;
    text-align: center;
    margin-top: 0px;
}

.membros{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000200;
}

.testimonial{
    text-align: center; 
    padding: 30px 30px 50px;
    margin: 0 25px 100px;
    position: relative;
}

.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: #f28a0b;
    margin-bottom: 20px;
    opacity: 0.6;
}

.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}


.testimonial .pic img{
    width: 90px;
    height: 90px;
}
    
.testimonial .title{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.testimonial .post{
    display: block;
    font-size: 15px;
    color: orange;
}

.pic img{
    width: 150px !important;
    height: 150px !important;
}

.testimonial-content p{
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.pic img{
    border-radius: 20px;
}

.description{
    margin-bottom: 3em;
}

/*Formulario*/
.conteent{
    display: flex;
    justify-content: center;
    background-color: #000200;
}



.conteent h3{
    margin-bottom: 18px;
    width: 100%;
    background-color: #000200;
    position: relative;
    color: transparent;
    font-weight: 1000;
    font-size: 2em;
    -webkit-text-stroke: 0.7px #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.5em;

}

.contato{
    width: 100%; 
    max-width: 50px;
}

.form {
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid orange;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.textarea{
    height: 150px;
}

@media(max-width:480px) {
    body { overflow-x: hidden; }

    .titulo h2{
        margin-bottom: 80px;
    }

    .titulo {
        margin-top: 40em !important;
    }

    .cabecalho {
        margin-top: 0px;
    }

    .logo {
        width: 70%;
        float: left;
        margin-left: 5px;
        position: relative;
        
    }
        
    IMG.displayed {
        margin-left: 6px;
    }
    .menu ul {
        width: 100%;
        list-style: none;
        position: relative;
        margin-top: -105vh;

    }

    label[for="bt_menu"]{
        display: block;

    }

    .tracin{
        display: initial;
    }

    .menu ul li{
        width: 100%;
        float: none;
        border-left: none;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
    
    /* CSS padrão da div */
    .menu {
        margin-top: 100px;
        margin-left: -100%;
        transition: linear 0.4s;
    }
    
    /* CSS quando o checkbox está marcado */
    #bt_menu:checked ~ * .menu {
        margin-left: 0;
        transition: linear 0.4s;
    }          

    .estrelinhas h1{
        font-weight: 900;
        font-size: 3.5em;
    }
    
    .texto p {
        width: 80%;
        font-size: 22px;
        margin-left: 59px;
        margin-top: 34px;
    }

    /*Apresentação*/
    .nav_tabs {
        width: 300px;
        height: 36pc;
    }

    .nav_tabs label {
        width: 75px;
    }

    .contentt {
        width: auto;
    }

    .contentt{
        margin-top: 10px;
        width: 300px;
    }
    
    .nav_tabs ul li {
        margin-top: -55px !important;
    }
    


    /*nossos serviços*/
    .nossosserviços{
        margin-top: 10em !important;
    }

    /*membros*/
    .testimonial{
        margin: 0 40px 100px;
    }
    


}

@media(min-width:481px) and (max-width:1024px){

    .estrelinhas h1{
        font-weight: 900;
        font-size: 6em;
        margin-top: -5em;

    }

}